[Unit]
Description=Linkmanager VXLAN link builder
After=docker.socket openvswitch.service
Requires=docker.socket openvswitch.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/linkmanager
ExecStart=/usr/bin/linkmanager $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
