[Unit]
Description=Linkmanager VXLAN link builder
After=docker.socket openvswitch.service
Requires=docker.socket openvswitch.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/linkmanager
ExecStart=/opt/linkmanager/linkmanager.py $OPTIONS

[Install]
WantedBy=multi-user.target
